/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// @import "bulma";

.profile_image {
  border-radius: 50%;
}

.main-image {
  height: 940px;
  background-image: url(book.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.main-image {
  background: url("/book.png");
  position: relative; /*相対配置*/
  width: 100%;
}

.card {
  display: flex;
  width: 37vh;
}

.card-img-top {
  height: 200px;
}

// .card {
//   position: relative;
//   overflow: hidden;
//   padding-top: 60%; /* 比率 */
// }
// .card img {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }

.mini-image {
  background: url("/no-image.png");
}

.col-7 {
  display: flex;
  width: auto;
}
